/* .image-styles {
  @apply absolute;
  transform: translatey(150px);
  filter: grayscale(100%);
}

.image-styles-2 {
  @apply absolute;
  transform: translatey(-150px);
  z-index: -1;
  filter: grayscale(100%);
  z-index: 0;
}
 */

.missions-image {
  background-image: url("/licensed-stock-missions.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.goals-image {
  background-image: url("/licensed-stock-goals.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
}
